<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="/views/styles.css">
        <title>🌍Flora Nursery</title>
        <style>
.card-title,.card-text{
  color:black;
  font-size:17px;
}
.images1{
  display: flex;
}
.dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .formCenter {
    margin: auto;
    position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .formCenter.formChange {
    min-width: 300px;
    max-width: 500px;
    padding: 50px;
  }
  #loginForm .input-group {
    margin: 20px 0;
  }
  @media (max-width: 768px) {
    .formCenter.formChange {
      width: 100%;
    }
  }
   body{
background-image:url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
background-color: rgba(0, 0, 0, 0.767);
color:aliceblue;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
h5{
  text-align: center;
}
.column {
float: left;
width: 33.33%;
padding: 5px;
}
.Wrapper1 {
transition-timing-function: linear;
text-align: center;
}
.wrapper2{
transition-timing-function: linear;
text-align: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.blank{
  color: aliceblue;
}
.former{
  display: flex;
}
.Wrapper1 {
  background-color:black;
  transition-timing-function: linear;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper2 {
  transition-timing-function: linear;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.search{
  display: flex;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.d-flex{
  display: flex;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
  padding: 0px;
}
</style>
    </head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand" >🥗Flora nursery</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Home</a>
         
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Plants</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Flowering plants</a>
                    <a href="#" class="dropdown-item">medicinal creepers plants</a>
                    <a href="#" class="dropdown-item">air Purifier plants</a>
                   <a href="#" class="dropdown-item">show plants</a>
                  <a href="#" class="dropdown-item">consumable plants</a>
                </div>
            </div>
          <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tools</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">shovel</a>
                    <a href="#" class="dropdown-item">hand trowel</a>
                    <a href="#" class="dropdown-item">Hoe</a>
                  <a href="#" class="dropdown-item">spade</a>
                  <a href="#" class="dropdown-item">fork</a>
                </div>
            </div>
           <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Gifts</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">groot planter</a>
                    <a href="#" class="dropdown-item">Terrarium Candle</a>
                    <a href="#" class="dropdown-item">plant seeds</a>
                  <a href="#" class="dropdown-item">plants</a>
                  <a href="#" class="dropdown-item">terrarium aquarium</a>  
                </div>
                  
              </div>
              <div class="former">
                <form action="#" method="GET" class="form-inline my-2 my-lg-0 ml-2">
                  <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/login"><button type="button" class="btn btn-primary float-end">Log-in</button></a>&nbsp;
                <a href="/register"><button type="button" class="btn btn-primary float-end">Sign-up</button></a>               
              </div>
        </div>
    </div>
    
</nav>